<%- include('header') -%>

<div class="box" id="heading">
    <h1><%= listTitle %></h1>
</div>

<div class="box">
    <% for (const item of items) { %>
    <div class="item">
        <input type="checkbox">
        <p><%= item.name %></p>
    </div>
    <% } %>

    <form class="item" action="/" method="post">
        <input type="text" id="newItem" name="newItem" placeholder="Enter new item" aria-label="Enter a new item">
        <button type="submit" name="list" value="<%= listTitle %>">+</button>
    </form>
</div>

<%- include('footer') -%>